@keyframes animateDiv {
    from {
        left: 0; /* Start from left */
    }
    to {
        left: 100%; /* Move to the right end */
    }
}


.info-rightbox-subheading{
    
    position: relative;
}

.styledDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.styledDivAnimation{
    animation: animateDiv 1s forwards ; 
}

.visible-stats{
    opacity: 1 !important;
}

.animateImg{
    opacity: 0;
    transition: opacity 1s ease;
}

.info-rightbox-button{
    transition: scale 100ms ease, transform 100ms ease ;
}

.info-rightbox-button:hover{
    scale: 1.03;
    transform: translateX(10px);
}

.social-box a{
    transition: scale 400ms ease, transform 400ms ease;
}

.social-box a:hover{
    scale: 1.1;
    transform: translateY(10px);
}


.statistic-section {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #00c6ff;  
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff); 
}

.count-title {
   font-size: 50px;
   font-weight: normal;
   margin-top: 10px;
   margin-bottom: 0;
     text-align: center;
     font-weight: bold;
   color: #fff;
}

.stats-text {
   font-size: 15px;
   font-weight: normal;
   margin-top: 15px;
   margin-bottom: 0;
   text-align: center;
     color: #fff;
     text-transform: uppercase;
     font-weight: bold;
}

.stats-line-black {
   margin: 12px auto 0;
   width: 55px;
   height: 2px;
   background-color: #fff;
}
.stats-icon {
     font-size: 35px;
     margin: 0 auto;
   float: none;
   display: table;
   color: #fff;
}

@media (max-width: 992px) {
   .counter {
       margin-bottom: 40px;
   }
}